helm.exe
test/
coverage/
dist/
# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
.dockerignore
.prettierrc
README.md
node_modules/
*.log
package-lock.json
package.json
Jenkinsfile
.eslintrc.js
tsconfig.json
sonar-project.properties
.env
.env.example
.npm/
dist/
nest-cli.json
tsconfig.build.json